body{
    margin: 0px;
}
img{
    width: 25vh;
}
@media (max-width: 1024px) {
#flexcontenedor{
    flex-direction: column;
    align-items: center;
}
#aside{
    justify-content: center;
    height: auto;
    min-height: 0px;
}
img{
    width: 12vh;
}
#cards{
    width: 20vw;
    min-width: 100px;
}
#nameyid h2{
    font-size: 2vh;
}
.contenedor{
    width: auto;
}
#flexcontenedor{
    width: 100%;
    display: block;
}
#input{
    width: 16vh;
} 
}